<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1136,1},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1213,1},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1136,78},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1136,155},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1213,78},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{832,1},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{832,78},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{984,1},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{984,78},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{984,155},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,75}</string>
                <key>spriteSourceSize</key>
                <string>{225,75}</string>
                <key>textureRect</key>
                <string>{{303,155},{225,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,75}</string>
                <key>spriteSourceSize</key>
                <string>{225,75}</string>
                <key>textureRect</key>
                <string>{{530,155},{225,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,75}</string>
                <key>spriteSourceSize</key>
                <string>{225,75}</string>
                <key>textureRect</key>
                <string>{{605,1},{225,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,75}</string>
                <key>spriteSourceSize</key>
                <string>{225,75}</string>
                <key>textureRect</key>
                <string>{{605,78},{225,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,75}</string>
                <key>spriteSourceSize</key>
                <string>{225,75}</string>
                <key>textureRect</key>
                <string>{{757,155},{225,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,75}</string>
                <key>spriteSourceSize</key>
                <string>{300,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,75}</string>
                <key>spriteSourceSize</key>
                <string>{300,75}</string>
                <key>textureRect</key>
                <string>{{1,78},{300,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,75}</string>
                <key>spriteSourceSize</key>
                <string>{300,75}</string>
                <key>textureRect</key>
                <string>{{1,155},{300,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,75}</string>
                <key>spriteSourceSize</key>
                <string>{300,75}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,75}</string>
                <key>spriteSourceSize</key>
                <string>{300,75}</string>
                <key>textureRect</key>
                <string>{{303,78},{300,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>block.png</string>
            <key>size</key>
            <string>{1289,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba08cd60d21505d36d1ff0b46abdf88d:e00de43567981786274296961efc57ef:a971120542bcd3c037bcefa50fb021b3$</string>
            <key>textureFileName</key>
            <string>block.png</string>
        </dict>
    </dict>
</plist>
