<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000s_0000_设置.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,42}</string>
                <key>spriteSourceSize</key>
                <string>{116,42}</string>
                <key>textureRect</key>
                <string>{{779,563},{116,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0001_形状-76-拷贝-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,147}</string>
                <key>spriteSourceSize</key>
                <string>{537,147}</string>
                <key>textureRect</key>
                <string>{{1,475},{537,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0001_关闭按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{665,397},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0001s_0000_开始按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,92}</string>
                <key>spriteSourceSize</key>
                <string>{394,92}</string>
                <key>textureRect</key>
                <string>{{665,1},{394,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0001s_0002_关闭-拷贝-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{660,496},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0001s_0003_关闭-拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{540,475},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0001s_0004_关闭.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{759,1},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0002_关闭.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{779,477},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0003_震动.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{764,358},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0004_声音.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{759,120},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0005_音乐.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{759,239},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0006_板.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,472}</string>
                <key>spriteSourceSize</key>
                <string>{662,472}</string>
                <key>textureRect</key>
                <string>{{1,1},{662,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goodEvaluation.png</string>
            <key>size</key>
            <string>{896,623}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72bfc3ecdaf89531df501315f1ea67f8:1c12d10e4893f8fe19571f4e17f51546:9a5ddbd4ae41d3a524afacabf06bbca2$</string>
            <key>textureFileName</key>
            <string>goodEvaluation.png</string>
        </dict>
    </dict>
</plist>
